<div class="bg-lime-300 text-center py-4 lg:px-4">
  <div class="p-2 bg-lime-800 items-center text-lime-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
  	<a href="../../index.html">
    <span class="flex hover:bg-red-300 rounded-full bg-lime-500 uppercase px-2 py-1 text-xs font-bold mr-3">{{ bannerAction }}</span></a>
    <span class="font-semibold mr-2 text-left flex-auto capitalize">{{ bannerTarget }}</span>
  </div>
</div>