<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily·Micro·Blogi</title>

    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&family=Athiti:wght@300;400&display=swap" rel="stylesheet">
    
    <!-- Link to Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/src/css/global.css">

    <style>
        /* Custom Fonts */
        body {
            font-family: 'Athiti', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Prompt', sans-serif;
        }

        button {
            font-family: 'Prompt', sans-serif;
        }

		ul {
		    list-style-type: disc; /* For unordered lists */
			list-style-position: inside;
			padding-left: 1.5rem;
		}

		ol {
		    list-style-type: decimal; /* For ordered lists */
			list-style-position: inside;
			padding-left: 1.5rem;
		}

		ul ul, ol ol, ul ol, ol ul {
		    margin-top: 0.5rem;
			margin-left: 1.5rem;
		}

    </style>
</head>